// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content';
@import 'cards.content';

// import my favorite font to use, Noto Sans
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&display=swap');

// Set up the body to take up the entire screen so header and footer look good
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    background-color: $color1;
}

// Set up the container that comprises of the grid
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

// Make the header take up the whole first row
header {
    grid-column: 1 / span 5;
    padding-bottom: 1rem;
    background-color: $color1;
    padding: 1.5rem;
    color: $textlight;
}

.flex {
    padding: 0 1.5rem;
    max-height: 64px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

// Set up how the nav bar looks and functions
.nav {
    grid-column: 1 / span 5;
    background-color: $color2;
    height: fit-content;
    &__list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    }
    &__item {
        padding: 10px 20px;
        border-radius: 25px;
        background-color: lighten($color2, 10%);
        text-align: center;
        display: inline-block;
        &:hover {
            scale: 115%;
            background-color: lighten($color2, 25%);
        }
    }
    &__link {
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: $textdark;
    }
}

// Make the side bar take up the first column of the third row
.sidebar {
    grid-column: 1 / span 1;
    color: $textlight;
    background-color: $color3;
    min-height: 100vh;
    padding-left: 15%;
    color: $color5;
    h2 {
        color: $color4;
    }
}

// Make the content take up the remaining columns of the first row
.content {
    background-color: $color5;
    grid-column: 2 / span 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        margin-bottom: 0;
        font-size: 3rem;
    }
    h3 {
        margin-top: 0.5rem;
        color: $color2;
    }
    &__block {
        width: 70%;
        margin: 2.5% 0;
        padding: 3rem;
        border-radius: 25px;
        text-align: center;
        h4 {
            font-size: 2rem;
            margin-top: 0;
        }
    }

    /* There are multiple text box variations in the site that just change
        colors, so create multiple styles */
    &__color1 {
        color: $textdark;
        background-color: $color4;
        h4{
            color: $color1;
        }
    }
    &__color2 {
        color: $textlight;
        background-color: $color3;
        h4{
            color: $color4;
        }
    }
    &__color3 {
        color: $textlight;
        background-color: $color1;
        h4 {
            color: $color3;
        }
    }
    &__color4 {
        color: $textlight;
        background-color: $color2;
        h4 {
            color: $color5;
        }
    }
    &__color5 {
        color: $textdark;
        h4 {
            color: $color1;
        }
    }
}

/* Make the footer take up the whole last row, make it high enough so you can
    see the infor above the cards */
footer {
    height: 10rem;
    padding-top: 2rem;
    background-color: $color1;
    grid-column: 1 / span 5;
    color: $textlight;
    text-align: center;
    h5 {
        font-size: 1rem;
    }
}
