/* Button animation inspiration:
    https://www.w3schools.com/howto/howto_css_animate_buttons.asp, but it is
    obviously completely different now. The main inspiration that I got out of
    this is having a button that changes when clicked without using JS, but
    it also inspired me to add a different colored background when clicked to
    show some depth. Since I wanted an animation that scaled up then down, I
    had to switch over to using keyframes.
    
    The cards coming up I didn't look for inspiration. When I came up with the
    concept for this project, I already knew I wanted the cards to pop up from
    the bottom of the screen. */
/* Set up the cards based on the color provided */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&display=swap");
body {
  font-family: 'Noto Sans', sans-serif;
}

/* Create the container for the cards to go into that is on the bottom. Center
    the cards */
.container {
  height: 14rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  overflow-y: hidden;
}

#card1 {
  height: 13rem;
  width: 10rem;
  background-color: whitesmoke;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /* Color is the top part of the card that will be visible when the card
        is down. We want this to be the color provided */
  /* This is the top part of the button. This is what the user will see
        before the user clicks in */
  /* This is the bottom part of the button. When the user clicks in the
        button, this will show behind the top part. It will be colored the same
        as the color on top */
}

#card1 p {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

#card1 .color {
  height: 4rem;
  width: 100%;
  background-color: #11323b;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#card1 .card-content {
  height: 100%;
  margin-top: 0;
  border-left: 2px solid whitesmoke;
  border-right: 2px solid whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#card1 .button-top {
  width: 100%;
  height: 100%;
  color: white;
  background-color: #2e9394;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 16px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#card1 .button-bottom {
  width: 75%;
  height: 2rem;
  background-color: #11323b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5% 0;
  border-radius: 16px;
}

#card2 {
  height: 13rem;
  width: 10rem;
  background-color: whitesmoke;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /* Color is the top part of the card that will be visible when the card
        is down. We want this to be the color provided */
  /* This is the top part of the button. This is what the user will see
        before the user clicks in */
  /* This is the bottom part of the button. When the user clicks in the
        button, this will show behind the top part. It will be colored the same
        as the color on top */
}

#card2 p {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

#card2 .color {
  height: 4rem;
  width: 100%;
  background-color: #266363;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#card2 .card-content {
  height: 100%;
  margin-top: 0;
  border-left: 2px solid whitesmoke;
  border-right: 2px solid whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#card2 .button-top {
  width: 100%;
  height: 100%;
  color: white;
  background-color: #2e9394;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 16px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#card2 .button-bottom {
  width: 75%;
  height: 2rem;
  background-color: #266363;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5% 0;
  border-radius: 16px;
}

#card3 {
  height: 13rem;
  width: 10rem;
  background-color: whitesmoke;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /* Color is the top part of the card that will be visible when the card
        is down. We want this to be the color provided */
  /* This is the top part of the button. This is what the user will see
        before the user clicks in */
  /* This is the bottom part of the button. When the user clicks in the
        button, this will show behind the top part. It will be colored the same
        as the color on top */
}

#card3 p {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

#card3 .color {
  height: 4rem;
  width: 100%;
  background-color: #444543;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#card3 .card-content {
  height: 100%;
  margin-top: 0;
  border-left: 2px solid whitesmoke;
  border-right: 2px solid whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#card3 .button-top {
  width: 100%;
  height: 100%;
  color: white;
  background-color: #2e9394;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 16px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#card3 .button-bottom {
  width: 75%;
  height: 2rem;
  background-color: #444543;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5% 0;
  border-radius: 16px;
}

#card4 {
  height: 13rem;
  width: 10rem;
  background-color: whitesmoke;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /* Color is the top part of the card that will be visible when the card
        is down. We want this to be the color provided */
  /* This is the top part of the button. This is what the user will see
        before the user clicks in */
  /* This is the bottom part of the button. When the user clicks in the
        button, this will show behind the top part. It will be colored the same
        as the color on top */
}

#card4 p {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

#card4 .color {
  height: 4rem;
  width: 100%;
  background-color: #d1b47c;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#card4 .card-content {
  height: 100%;
  margin-top: 0;
  border-left: 2px solid whitesmoke;
  border-right: 2px solid whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#card4 .button-top {
  width: 100%;
  height: 100%;
  color: white;
  background-color: #2e9394;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 16px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#card4 .button-bottom {
  width: 75%;
  height: 2rem;
  background-color: #d1b47c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5% 0;
  border-radius: 16px;
}

#card5 {
  height: 13rem;
  width: 10rem;
  background-color: whitesmoke;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /* Color is the top part of the card that will be visible when the card
        is down. We want this to be the color provided */
  /* This is the top part of the button. This is what the user will see
        before the user clicks in */
  /* This is the bottom part of the button. When the user clicks in the
        button, this will show behind the top part. It will be colored the same
        as the color on top */
}

#card5 p {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

#card5 .color {
  height: 4rem;
  width: 100%;
  background-color: #dfd8b3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#card5 .card-content {
  height: 100%;
  margin-top: 0;
  border-left: 2px solid whitesmoke;
  border-right: 2px solid whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#card5 .button-top {
  width: 100%;
  height: 100%;
  color: white;
  background-color: #2e9394;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 16px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#card5 .button-bottom {
  width: 75%;
  height: 2rem;
  background-color: #dfd8b3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5% 0;
  border-radius: 16px;
}

.card:hover {
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
  -webkit-box-shadow: 0 0 5px gray;
          box-shadow: 0 0 5px gray;
}

.down {
  -webkit-transform: translateY(11rem);
          transform: translateY(11rem);
}

@-webkit-keyframes click-ani-top {
  30% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
  100% {
    -webkit-transform: scale(90%);
            transform: scale(90%);
  }
}

@keyframes click-ani-top {
  30% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
  100% {
    -webkit-transform: scale(90%);
            transform: scale(90%);
  }
}

@-webkit-keyframes unclicked-ani-top {
  0% {
    -webkit-transform: scale(90%);
            transform: scale(90%);
  }
  70% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@keyframes unclicked-ani-top {
  0% {
    -webkit-transform: scale(90%);
            transform: scale(90%);
  }
  70% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@-webkit-keyframes click-ani-bottom {
  20% {
    -webkit-transform: scale(105%);
            transform: scale(105%);
  }
  100% {
    -webkit-transform: scale(105%);
            transform: scale(105%);
  }
}

@keyframes click-ani-bottom {
  20% {
    -webkit-transform: scale(105%);
            transform: scale(105%);
  }
  100% {
    -webkit-transform: scale(105%);
            transform: scale(105%);
  }
}

@-webkit-keyframes unclicked-ani-bottom {
  0% {
    -webkit-transform: scale(105%);
            transform: scale(105%);
  }
  50% {
    -webkit-transform: scale(105%);
            transform: scale(105%);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@keyframes unclicked-ani-bottom {
  0% {
    -webkit-transform: scale(105%);
            transform: scale(105%);
  }
  50% {
    -webkit-transform: scale(105%);
            transform: scale(105%);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

/* Turns out that this part cannot be placed in the mixin or the active
    animation won't work, strange */
.button-top {
  -webkit-animation: unclicked-ani-top 400ms forwards;
          animation: unclicked-ani-top 400ms forwards;
}

.button-top:active {
  -webkit-animation: click-ani-top 400ms forwards;
          animation: click-ani-top 400ms forwards;
}

.button-bottom {
  -webkit-animation: unclicked-ani-bottom 400ms forwards;
          animation: unclicked-ani-bottom 400ms forwards;
}

.button-bottom:active {
  -webkit-animation: click-ani-bottom 400ms forwards;
          animation: click-ani-bottom 400ms forwards;
}
/*# sourceMappingURL=style.css.map */