// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content';


// Get the background of the card sorted out
.card-outline {
    color: $text;
    background-color: $dark-gray;
    padding: 4rem;
    border-radius: 5px;
}

.card {
    background-color: $white;
    padding: 3rem;
    display: grid;
    grid-template-columns: 22rem 1fr;
}

// Styling for the name, photo, and job title
h1 {
    margin-bottom: 0;
    font-size: 2.5rem;
}

.name-section {
    text-align: center;
    width: 19rem;
    img {
        width: 100%;
        border-radius: 100%;
    }
    p {
        font-style: italic;
        font-size: 1.8rem;
        margin: 0;
    }
}

// Styling for the info section
.info-section {
    background-color: $gray;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    p {
        font-size: 1.25rem;
        margin: 0;
    }
}

strong {
    font-size: 1.5rem;
}

.linkedin {
    display: flex;
    margin-top: 0.75rem;
    p{
        margin: auto 0.5rem;
    }
    img {
        width: 3rem;
    }
}